extends layout

block content
    .w3-card-4
          header.w3-container.w3-dark-grey
            h3 Editar Aluno
    br        
    form(action='/alunos/edit' method='POST')
      label
        b Número:
          input(type='text' name='Número' )
      br
      br
      label
        b Nome:
          input(type='text' name='Nome' )
      br
      br
      
      label
        b Git:
          input(type='text' name='Git' )
      br
   

      br
      input(type='submit' value='Update')
      br
      br
      footer(class="w3-container w3-dark-grey")
        p
            a(href="/") HomePage 