c The Unicorn Puzzle 
c
c 1 mythical
c 2 immortal
c 3 mammal
c 4 horned
c 5 magical
c
c If the unicorn is mythical, then it is immortal.
c (mythical => immortal) <=> ~mythical V immortal
c                        <=> 1 clause ...
c
c If the unicorn is not mythical,then it is a mortal mammal.
c ~mythical => (~immortal /\ mammal) <=> mythical V (~immortal /\  mammal) 
c                                    <=> (mythical V ~immortal) /\ (mythical V mammal)
c                                    <=> 2 clauses ...
c
c If the unicorn is either immortal or a mammal, then it is horned.
c (immortal V mammal) => horned <=> ~(immortal V mammal) V horned
c                               <=> (~immortal /\ ~mammal) V horned
c                               <=> horned V (~immortal /\ ~mammal) 
c                               <=> (horned V ~immortal) /\ (horned V ~mammal)
c                               <=> 2 clauses ...
c The unicorn is magical if it is horned.
c (magical => horned) <=> ~magical V horned ...

p cnf 5 6
-1 2 0 
1 -2 0 
1 3 0
4 -2 0
4 -3 0
-4 5 0



c Is the unicorn mythical ?
c -1 0 . Not sure, returns SAT.

c Is it magical ?
c -5 0 . Yes, returns UNSAT.

c Is the unicorn horned ?
c -4 0 . Yes, returns UNSAT.
